@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
:root {
  --re-fonts-heding: "Poppins", sans-serif;
  --re-fonts-body: "Poppins", sans-serif;
  --theme-primary-color: #01664f;
  --theme-secondary-color: #002b27;
  --theme-terteary-color: #01664f;
  --theme-heading-color: #c2f4a0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------
	typography css start 
---------------------------------*/
body {
  font-family: var(--tp-fonts-poppins);
  font-size: 14px;
  font-weight: normal;
  color: var(--tp-black);
  line-height: 26px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--tp-fonts-body);
  color: var(--tp-common-black);
  margin-top: 0px;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
}

p {
  font-family: var(--tp-fonts-heding);
  font-size: 17px;
  font-weight: 300;
  color: var(--tp-body-color);
  margin-bottom: 15px;
  line-height: 28px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.w-img img {
  width: 100%;
}

.m-img img {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.fix {
  overflow: hidden;
}

.clear {
  clear: both;
}

.z-index-1 {
  z-index: 1;
}

.z-index-11 {
  z-index: 11;
}

.overflow-y-visible {
  overflow-x: hidden;
  overflow-y: visible;
}

.overflow-x-visible {
  overflow-x: visible;
  overflow-y: hidden;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.bg {
  background: radial-gradient(5198.42% 57.77% at 47.5% 62%, #0058ff 0%, #ff4c00 100%);
}

.br-5 {
  border-radius: 5px;
}

.br-15 {
  border-radius: 15px;
}

.br-20 img {
  border-radius: 20px;
}

.br-24 {
  border-radius: 24px;
}

.tp-slide-transition {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.tp-brand-slide-element {
  width: auto;
  display: inline-block;
}

.bg-pos-bottom {
  background-position: bottom;
  background-repeat: no-repeat;
}

.text-upper {
  text-transform: uppercase;
}

.header-section {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 26px;
  width: 100%;
}

.button-style {
  height: 55;
  opacity: 1;
  gap: 10px;
  border-radius: 45px;
  padding-top: 12.5px;
  padding-right: 25px;
  padding-bottom: 12.5px;
  padding-left: 25px;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.primary-button {
  color: #002b27;
  background-color: #c2f4a0;
  border: 1px solid #c2f4a0;
}

.section-title-box {
  margin-bottom: 60px;
}
.section-title-box .title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--theme-heading-color);
}
.section-title-box .desc {
  color: #fff;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
}

.hero-section {
  background: var(--theme-primary-color);
  padding-top: 138px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden;
}
.hero-section::before {
  content: "";
  height: 404px;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  background: url("../images/Bitmap.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.hero-section .hero-sec-wrapper {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .hero-section .hero-sec-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}
.hero-section .hero-sec-wrapper .hero-left-cont {
  z-index: 9;
  padding-bottom: 77px;
}
.hero-section .hero-sec-wrapper .hero-left-cont .hero-desc {
  line-height: 34px !important;
}
.hero-section .hero-sec-wrapper .hero-right-cont {
  height: 560px;
}
@media only screen and (min-width: 1024px) {
  .hero-section .hero-sec-wrapper .hero-right-cont {
    height: auto;
  }
}
.hero-section .hero-sec-wrapper .hero-right-cont .banner-modal-box .modal-img-1 {
  position: absolute;
  right: -140px;
  z-index: 0;
  min-width: 763px;
  height: 763px;
  bottom: -100px;
}
.hero-section .hero-sec-wrapper .hero-right-cont .banner-modal-box .modal-img-2 {
  position: absolute;
  right: -60px;
  z-index: 99;
  min-width: 589px;
  height: 428px;
  bottom: 0px;
}
.hero-section .hero-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 60px;
  line-height: 67px;
  letter-spacing: 0%;
  text-transform: capitalize;
  max-width: 622px;
  width: 100%;
  color: var(--theme-heading-color);
}
.hero-section .hero-desc {
  font-family: Poppins;
  font-weight: 300;
  font-style: Regular;
  font-size: 24px;
  letter-spacing: 0%;
  margin-top: 20px;
  max-width: 438px;
  width: 100%;
  color: #fff;
}
.hero-section .break-line {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hero-section .break-line {
    display: inline-block;
  }
}
.hero-section .brand-lists {
  margin-top: 20px;
  padding: 8px 20px;
  border-radius: 38px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 18px;
}
.hero-section .brand-lists li {
  list-style: none;
}
.hero-section .info-lists {
  margin-top: 100px;
  display: flex;
  align-items: center;
}
.hero-section .info-lists li {
  list-style: none;
  font-family: Poppins;
  font-weight: 300;
  font-style: Regular;
  font-size: 18px;
  letter-spacing: 0%;
  color: #ffffff;
}

.how-it-works-section {
  background: var(--theme-secondary-color);
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.how-it-works-section .section-title-box .title {
  max-width: 605px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.how-it-works-section .section-title-box .desc {
  max-width: 887px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.how-it-works-section .brand-logo {
  position: absolute;
  top: -40px;
  right: 0;
}
.how-it-works-section .how-it-works-card-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  align-items: stretch;
}
.how-it-works-section .how-it-works-card-box .card-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 441px;
  opacity: 1;
  gap: 10px;
  border-radius: 20px;
  padding: 40px 17px;
  background: #c2f4a0;
}
.how-it-works-section .how-it-works-card-box .card-item .card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.how-it-works-section .how-it-works-card-box .card-item .card-body img {
  width: 141px;
  height: 70px;
  object-fit: cover;
}
.how-it-works-section .how-it-works-card-box .card-item .card-body h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-top: 20px;
  color: #002b27;
}
.how-it-works-section .how-it-works-card-box .card-item .card-body p {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
  font-style: Regular;
  font-size: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #002b27;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.how-it-works-section .how-it-works-card-box .card-item .card-foot p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #002b27;
  margin-top: auto;
  margin-bottom: 0;
}
.how-it-works-section .how-it-works-card-box .card-item .break-line {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .how-it-works-section .how-it-works-card-box .card-item .break-line {
    display: inline-block;
  }
}

.grow-clean-energy {
  background: var(--theme-primary-color);
  position: relative;
  padding-top: 80px;
  padding-bottom: 60px;
}
.grow-clean-energy .section-title-box .title {
  max-width: 605px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.grow-clean-energy .section-title-box .desc {
  max-width: 887px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.grow-clean-energy .grow-clean-energy-card-box .card-feature {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.grow-clean-energy .grow-clean-energy-card-box .card-feature img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.grow-clean-energy .grow-clean-energy-card-box .card-feature h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-top: 20px;
  height: 60px;
  color: #fff;
}
.grow-clean-energy .grow-clean-energy-card-box .card-feature p {
  margin-top: 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
}
.grow-clean-energy .grow-clean-energy-card-box .card-feature .break-line {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .grow-clean-energy .grow-clean-energy-card-box .card-feature .break-line {
    display: inline-block;
  }
}

.earnings-section {
  background: var(--theme-primary-color);
  position: relative;
  padding-top: 80px;
  padding-bottom: 60px;
}
.earnings-section .brand-logo {
  position: absolute;
  top: -40px;
  right: 0;
}
.earnings-section .section-title-box h2 {
  max-width: 540px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.earnings-section .earning-table {
  max-width: 1083px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.earnings-section .earning-table .table-success-head tr th {
  padding: 25px;
}
.earnings-section .earning-table {
  max-width: 1083px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  margin-bottom: 0;
}
.earnings-section .earning-table thead th {
  padding: 25px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #c2f4a0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.earnings-section .earning-table tbody td {
  padding: 35px;
  text-align: center;
  border: 1px solid #c2f4a0;
  color: #eafaf1;
  background-color: #004225;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.earnings-section .note {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.real-earning-section {
  background: var(--theme-secondary-color);
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.real-earning-section .brand-logo {
  position: absolute;
  top: -40px;
  right: 0;
}
.real-earning-section .section-title-box .desc {
  text-align: left;
}
.real-earning-section .real-earning-wrapper {
  gap: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.real-earning-section .real-earning-wrapper .card-item {
  display: flex;
  gap: 18px;
}
.real-earning-section .real-earning-wrapper .card-item img {
  border: 0;
}
.real-earning-section .real-earning-wrapper .info-card-item {
  width: 305px;
  height: 287px;
  opacity: 1;
  gap: 10px;
  border-radius: 20px;
  padding: 40px 17px;
  background-color: #c2f4a0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.real-earning-section .real-earning-wrapper .info-card-item p {
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.real-earning-section .real-earning-info-wrapper {
  margin-top: 50px;
  display: flex;
  gap: 37px;
}
.real-earning-section .real-earning-info-wrapper .info-card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 28px;
  letter-spacing: 0%;
  color: #c2f4a0;
}
.real-earning-section .real-earning-info-wrapper .info-card p {
  margin-bottom: 0;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0%;
  color: #ffffff;
}

.explore-dashboard-section {
  background: var(--theme-primary-color);
  position: relative;
  padding-top: 70px;
  padding-bottom: 80px;
}
.explore-dashboard-section .brand-logo {
  position: absolute;
  top: 0px;
  right: 0;
}
.explore-dashboard-section .section-title-box {
  max-width: 746px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.explore-dashboard-section .explore-dashboard-wrapper .info-card-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.explore-dashboard-section .explore-dashboard-wrapper .info-card-item p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.payout-section {
  background: var(--theme-secondary-color);
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.payout-section .brand-logo {
  position: absolute;
  top: 0;
  right: 0;
}
.payout-section .section-title-box {
  margin-bottom: 120px;
}
.payout-section .section-title-box .desc {
  color: #c2f4a0;
  text-align: left;
}
.payout-section .payout-wrapper .info-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payout-section .payout-wrapper .info-card-item img {
  margin-bottom: 50px;
  width: 255px;
  height: 255px;
  object-fit: contain;
}
.payout-section .payout-wrapper .info-card-item h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 26px;
  letter-spacing: 0%;
  color: #ffffff;
}
.payout-section .payout-wrapper .info-card-item p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 20px;
  max-width: 355px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.eligibility-rules-section {
  background: var(--theme-primary-color);
  padding-top: 80px;
  padding-bottom: 0;
  overflow: hidden;
}
.eligibility-rules-section .section-title-box {
  margin-bottom: 40px;
}
.eligibility-rules-section .brand-logo {
  position: absolute;
  top: 0;
  right: 0;
}
.eligibility-rules-section .eligibility-wrapper .eligibility-cont-area {
  padding-bottom: 99px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.eligibility-rules-section .eligibility-wrapper .eligibility-cont-area img {
  margin-bottom: 45px;
  width: 141px;
  height: 70px;
  object-fit: contain;
}
.eligibility-rules-section .eligibility-wrapper .eligibility-cont-area ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding-left: 20px;
}
.eligibility-rules-section .eligibility-wrapper .eligibility-cont-area ul li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  letter-spacing: 0%;
  color: #ffffff;
}
.eligibility-rules-section .eligibility-wrapper .eligibility-cont-area p.note {
  margin-bottom: 0;
  margin-top: 136px;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 300;
  font-style: Regular;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  max-width: 517px;
  width: 100%;
}
.eligibility-rules-section .eligibility-wrapper .eligibility-right-cont img {
  position: absolute;
  right: -98px;
  bottom: -89px;
  width: 593px;
  height: 593px;
}

.partner-with-us-section {
  position: relative;
  padding-top: 80px;
  background-color: var(--theme-secondary-color);
  overflow: hidden;
}
.partner-with-us-section .section-title-box {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 0;
}
.partner-with-us-section .section-title-box h2 {
  max-width: 673px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 80px;
  line-height: 1.2;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 0;
}
.partner-with-us-section .section-title-box img {
  object-fit: contain;
  width: 80px;
  height: 60px;
}
.partner-with-us-section .content-area {
  padding-bottom: 132px;
  max-width: 672px;
  width: 100%;
}
.partner-with-us-section .content-area p.desc {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 18px;
  letter-spacing: 0%;
  color: #ffffff;
}
.partner-with-us-section .content-area .partner-info-box {
  display: flex;
  align-items: start;
  gap: 50px;
}
.partner-with-us-section .content-area .partner-info-box .info-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.partner-with-us-section .content-area .partner-info-box .info-card img {
  width: 141px;
  height: 70px;
  object-fit: contain;
}
.partner-with-us-section .content-area .partner-info-box .info-card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  color: #c2f4a0;
}
.partner-with-us-section .content-area .partner-info-box .info-card ul {
  padding-left: 20px;
}
.partner-with-us-section .content-area .partner-info-box .info-card ul li {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
}
.partner-with-us-section .partner-scale-right-cont {
  width: 100%;
  max-width: 593px;
}
.partner-with-us-section .partner-scale-right-cont img {
  position: absolute;
  bottom: -90px;
  right: -88px;
}

.faqs-section {
  position: relative;
  padding-top: 80px;
  background-color: var(--theme-primary-color);
  overflow: hidden;
}
.faqs-section .section-title-box {
  display: flex;
  align-items: start;
  gap: 24px;
  justify-content: space-between;
}
.faqs-section .section-title-box h2 {
  max-width: 828px;
  width: 100%;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 80px;
  line-height: 1.1;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 0;
}
.faqs-section .section-title-box img {
  object-fit: contain;
  width: 80px;
  height: 60px;
}
.faqs-section .faq-wrapper-area {
  display: flex;
  gap: 24px;
  align-items: end;
  justify-content: space-between;
}
.faqs-section .faq-wrapper-area .partner-scale-left-cont {
  height: 480px;
  width: 50%;
}
.faqs-section .faq-wrapper-area .partner-scale-left-cont img {
  position: absolute;
  width: 593px;
  height: 593px;
  bottom: -111px;
  left: -78px;
}
.faqs-section .faq-wrapper-area .partner-scale-right-cont {
  padding-bottom: 139px;
}
.faqs-section .faq-wrapper-area .partner-scale-right-cont ul {
  display: flex;
  gap: 40px;
  flex-direction: column;
  max-width: 515px;
  width: 100%;
  margin-left: auto;
}
.faqs-section .faq-wrapper-area .partner-scale-right-cont ul li {
  list-style: none;
}
.faqs-section .faq-wrapper-area .partner-scale-right-cont ul li h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 22px;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 0;
}
.faqs-section .faq-wrapper-area .partner-scale-right-cont ul li p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 18px;
  letter-spacing: 0%;
  margin-bottom: 0;
  margin-top: 6px;
  color: #ffffff;
}

.community-cta-section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--theme-secondary-color);
}
.community-cta-section .section-title-box {
  margin-bottom: 0;
  display: flex;
  align-items: start;
  gap: 24px;
  justify-content: space-between;
}
.community-cta-section .section-title-box h2 {
  max-width: 828px;
  width: 100%;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 80px;
  line-height: 1.1;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 0;
}
.community-cta-section .section-title-box img {
  object-fit: contain;
  width: 80px;
  height: 60px;
}

.footer-section {
  padding-top: 63px;
  padding-bottom: 63px;
  position: relative;
  background: #c2f4a0;
}
.footer-section .footer-cont-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;
}
.footer-section .footer-cont-wrapper .footer-info h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 22px;
  letter-spacing: 0%;
  color: #004225;
}
.footer-section .footer-cont-wrapper .footer-info a,
.footer-section .footer-cont-wrapper .footer-info p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #004225;
  margin-bottom: 0;
  margin-top: 20px;
}

.articles-single-page-main {
  position: relative;
  padding-top: 80px;
}
.articles-single-page-main .article-banner-area {
  padding-top: 6px;
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5019607843);
}
.articles-single-page-main .article-banner-area .article-banner-content h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
}
.articles-single-page-main .article-banner-area .article-banner-content img {
  margin-top: 50px;
  width: 100%;
  height: 601px;
  object-fit: cover;
  border-radius: 25px;
}
.articles-single-page-main .article-main-wrapper {
  padding-top: 60px;
}
.articles-single-page-main .article-main-wrapper .article-main-content {
  display: flex;
  justify-content: space-between;
  gap: 66px;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-sidebar {
  max-width: 345px;
  width: 100%;
  position: sticky;
  height: 100%;
  top: 45px;
  padding-bottom: 60px;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-sidebar .asidebar-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 46px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-sidebar .asidebar-desc {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-sidebar .articles-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 25px;
  margin-top: 40px;
  margin-bottom: 0;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-sidebar .articles-list li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-sidebar .cta-box {
  opacity: 1;
  border-radius: 25px;
  gap: 10px;
  padding: 25px;
  margin-top: 60px;
  background-color: #268226;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-sidebar .cta-box h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #fff;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-sidebar .cta-box p {
  margin-bottom: 0;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 18px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #fff;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-sidebar .cta-box a {
  margin-top: 20px;
  display: inline-block;
  border-radius: 15px;
  gap: 12px;
  background-color: #b5f433;
  padding: 16px 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  letter-spacing: 0%;
  color: #000000;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right {
  width: 100%;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks {
  margin-bottom: 80px;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 46px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 0;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 36px;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks .article-image-box {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
  margin-top: 0;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks .article-image-box ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-width: 266px;
  width: 100%;
  padding-left: 20px;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks .article-image-box ul li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #353535;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks .article-image-box img {
  width: 433px;
  height: auto;
  object-fit: contain;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks .article-block-lists {
  margin-top: 40px;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks .article-block-lists:not(:last-child) {
  margin-bottom: 30px;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks .article-block-lists h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks .article-block-lists ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.articles-single-page-main .article-main-wrapper .article-main-content .article-main-cont-right .articles-blocks .article-block-lists ul li {
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #353535;
}

.portfolio-impact-section {
  padding-bottom: 80px;
}
.portfolio-impact-section h2.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
}
.portfolio-impact-section .portfolio-impact-cards {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 42px;
}
.portfolio-impact-section .portfolio-impact-cards .impact-card-item {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 254.18359375 px;
  opacity: 1;
  border-radius: 25px;
  border-width: 1px;
  overflow: hidden;
}
.portfolio-impact-section .portfolio-impact-cards .impact-card-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.portfolio-impact-section .portfolio-impact-cards .impact-card-item .postfolio-cont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background: #b5f433;
  border: 0 0 25px 25px;
}
.portfolio-impact-section .portfolio-impact-cards .impact-card-item .postfolio-cont h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.portfolio-impact-section .portfolio-impact-cards .impact-card-item .postfolio-cont p {
  margin-bottom: 0;
  margin-top: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Regular;
  font-size: 12px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.investor-takeway-section {
  position: relative;
  padding-bottom: 80px;
}
.investor-takeway-section .content-wrapper h2 {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 46px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
}
.investor-takeway-section .content-wrapper p:not(:last-child) {
  margin-top: 30px;
  margin-bottom: 20px;
}
.investor-takeway-section .content-wrapper p {
  font-family: Poppins;
  font-weight: 300;
  font-style: Regular;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #000000;
}

.investor-cta-section {
  padding-top: 80px;
  position: relative;
  background: #b5f433;
}
.investor-cta-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("/assets/images/investor-cta-modal-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.55;
}
.investor-cta-section .investor-cta-wrapper {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 9;
}
.investor-cta-section .investor-cta-wrapper h2 {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 38px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #111111;
}
.investor-cta-section .investor-cta-wrapper a.button-style {
  height: 44px;
  opacity: 1;
  gap: 10px;
  border-radius: 15px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  border-left-width: 2px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  max-width: 275px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #111111;
}
.investor-cta-section .investor-cta-wrapper a.button-style img {
  width: 22px;
  height: 22px;
  object-fit: contain;
  margin-top: 0;
}
.investor-cta-section .investor-cta-wrapper img {
  margin-top: 40px;
  width: 1000px;
  height: 309px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
