@use '../../utils' as *;

.footer-section{
    padding-top: 63px;
    padding-bottom: 63px;
    position: relative;
    background: #C2F4A0;
    .footer-cont-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
        gap: 24px;
    .footer-info{
        h2{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 22px;
            line-height: 34px;
            letter-spacing: 0%;
            color: #004225;
        }
        a,
        p{
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-style: Medium;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: 0%;
            color: #004225;
            margin-bottom: 0;
            margin-top: 20px;
        }
    }
    }

}