@use '../../utils' as *;


.how-it-works-section{
	background: var(--theme-secondary-color);
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;

	.section-title-box{
     .title{
		max-width: 605px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
     }
     .desc{
		max-width: 887px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
     }
   }
   .brand-logo{
	position: absolute;
	top: -40px;
	right: 0;
   }
.how-it-works-card-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 24px;
  align-items: stretch;
	.card-item{
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 441px;
		opacity: 1;
		gap: 10px;
		border-radius: 20px;
		padding: 40px 17px;
        background: #C2F4A0;
		.card-body{
		display: flex;
		align-items: center;
		flex-direction: column;
		img{
			width: 141px;
			height: 70px;
			object-fit: cover;
		}
		h3{
			text-align: center;
			font-family: 'Poppins', sans-serif;
			font-weight: 600;
			font-style: SemiBold;
			font-size: 40px;
			line-height: 120%;
			letter-spacing: 0%;
			text-align: center;
			text-transform: capitalize;
			margin-top: 20px;
			color: #002B27;
		}
		p{
			margin-top: 20px;
			font-family: 'Poppins', sans-serif;
			font-weight: 400;
			text-align: center;
			font-style: Regular;
			font-size: 20px;
			letter-spacing: 0%;
			text-align: center;
			color: #002B27;
			margin-bottom: 0;
			margin-left: auto;
			margin-right: auto;
		}
		}
		.card-foot{
			p{
				font-family: 'Poppins', sans-serif;
				font-weight: 600;
				font-style: SemiBold;
				font-size: 34px;
				line-height: 50px;
				letter-spacing: 0%;
				text-align: center;
				text-transform: capitalize;
				color: #002B27;
				margin-top: auto;
				margin-bottom: 0;
			}
		}
		    .break-line{
        display: none;
        @media #{$lg}{
            display: inline-block;
        }
    }
	}
}
}