@use '../../utils' as *;

.real-earning-section{
    background: var(--theme-secondary-color);
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
    .brand-logo{
        position: absolute;
        top: -40px;
        right: 0;
    }
    .section-title-box{
        .desc{
            text-align: left;
        }
    }
    .real-earning-wrapper{
         gap: 24px;
         display: flex;
         justify-content: space-between;
         align-items: center;     
        .card-item{
            display: flex;
            gap: 18px;
            img{
                border: 0;
            }
        }
        .info-card-item{
            width: 305px;
            height: 287px;
            opacity: 1;
            gap: 10px;
            border-radius: 20px;
            padding: 40px 17px;
            background-color: #C2F4A0;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                margin-bottom: 0;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-style: Regular;
                font-size: 20px;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: center;
            }
        }
      
    }
      .real-earning-info-wrapper{
        margin-top: 50px;
        display: flex;
        gap: 37px;
            .info-card{
                h3{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    font-style: SemiBold;
                    font-size: 28px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #C2F4A0;
                }
                p{
                    margin-bottom: 0;
                    margin-top: 20px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 24px;
                    line-height: 130%;
                    letter-spacing: 0%;
                    color: #ffffff;
                }
            }
        }
}